
@model GiftShop.Models.ItemDto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="/Item/Update/@Model.ItemId" method="POST">
    <div>
        <label>ItemId:</label>
        <input type="number" name="ItemId" />
    </div>
    <div>
        <label>Item Name:</label>
        <input type="text" name="ItemName" />
    </div>
    <div>
        <label>Item Description:</label>
        <input type="text" name="ItemDescription" />
    </div>
    <div>
        <input type="submit" value="Update Item" />
    </div>

</form>

