
@model IEnumerable<GiftShop.Models.ItemDto>
@{
    ViewBag.Title = "List";
}

<h2>List of Items</h2>
<table>
    <tr>
        <th style="color: blue; width: 180px; padding-bottom: 10px;">Item</th>
        <th style="color: blue; width: 180px; padding-bottom: 10px;">Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 180px; "><a  href="/Item/Details/@item.ItemId">@item.ItemName</a></td>
            <td style="width: 180px; "> @item.ItemDescription</td>
        </tr>
    }
</table>

<div style=" margin-top: 30px;" >
     <a style="border: 1px solid black; margin: 15px; padding: 15px; text-decoration: none; text-align: center; background-color: #47d147; color: black; " href="/Item/New">Add New Item</a> 
</div>