@model IEnumerable<GiftShop.Models.OrderDto>
@{
    ViewBag.Title = "Create";
}

<h2>Create Gift</h2>
<form action="/Gift/Create" method="POST">
    <div>
        <label>Size:</label>
        <input type="text" name="GiftBasketSize" />
    </div>
    <div>
        <label>Quantity:</label>
        <input type="number" name="GiftBasketQuantity" />
    </div>
    <div>
        <label>Details:</label>
        <input type="text" name="GiftBasketDetails" />
    </div>
    
    <div>
        <label>Order :</label>
        <select name="OrderId">
            @foreach (var Order in Model)
            {
                <option value="@Order.OrderId">
                    @Order.CustomerName
                </option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add Gift" />
    </div>

</form>

