@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GiftBasketShop</h1>
    <img style=" margin-right: 10px;" src="/Content/Images/Items/basket1.jpg" alt="Gift basket" width="300" height="300">
    <img style=" margin-right: 10px;"  src="/Content/Images/Items/basket2.jpg" alt="Gift basket" width="300" height="300">
    <img src="/Content/Images/Items/basket3.jpg" alt="Gift basket" width="300" height="300">
    <p class="lead">We provide everything you want!</p>
    <p><a href="https://localhost:44396/Item/List" class="btn btn-primary btn-lg">Explore more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Standard Basket</h2>
        <img src="/Content/Images/Items/Standard.jpg" alt="Beige Gift basket" width="150" height="150">
        <p><a class="btn btn-default" href="https://localhost:44396/Item/List">Order Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Deluxe Basket</h2>
        <img src="/Content/Images/Items/Deluxe.jpg" alt=" Brown Gift basket" width="150" height="150">
        <p><a class="btn btn-default" href="https://localhost:44396/Item/List">Order Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Premium basket</h2>
        <img src="/Content/Images/Items/Premium.jpg" alt="Red Gift basket" width="150" height="150">
        <p><a class="btn btn-default" href="https://localhost:44396/Item/List">Order Now &raquo;</a></p>
    </div>
</div>